//-
  @Author: Parsa Rahimi <par5ul1>
  @Date:   2022-06-30T13:46:12-07:00
  @Filename: projects.pug
  @Last modified by:   par5ul1
  @Last modified time: 2022-06-30T15:28:40-07:00

mixin skills(skillset)
  div.evenly_spaced
    div
      h3 #{skillset.type}
    div
      p
        each skill, i in skillset.list.length ? skillset.list : ''
          span #{skill}
          if i < skillset.list.length - 1
            +textSeparator
  
if skills
  section#skills
    h2 Skills
    +line

    each skillset in skills
      +skills(skillset)
