/**
 * @Author: Parsa Rahimi <par5ul1>
 * @Date:   2022-07-11T01:52:08-07:00
 * @Filename: style.css
 * @Last modified by:   par5ul1
 * @Last modified time: 2022-07-11T01:59:57-07:00
 */

iframe {
  width: 8.5in;
  height: 11in;
  border: none;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%) scale(0.9);
}

body {
  display: flex;
  justify-content: space-between;
}
