#resume {
  background: white;
  color: black;
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0.25in;
  font-family: "Public Sans", sans-serif;
  line-height: 12pt;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact; /* Chrome/Safari/Edge/Opera */
  print-color-adjust: exact; /* Chrome/Safari/Edge/Opera */
}

@media print {
  #resume {
    padding: 0;
    padding-right: 0.25in;
  }

  #resume section:hover > h2 span {
    display: none;
  }

  .resume-content-block {
    break-inside: avoid;
  }
}

@page {
  margin: 0.25in;
}

#resume-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#resume div[data-rbd-droppable-context-id] {
  width: 100%;
}

#resume section {
  width: 100%;
  cursor: unset;
}

#resume section:focus {
  outline: none;
}

#resume a {
  text-decoration: none;
  font-size: 10pt !important;
  color: black;
  margin: 0;
}

#resume h1 {
  font-size: 15pt !important;
  font-weight: 700;
  margin: 5pt;
}

#resume h2 {
  font-size: 12pt !important;
  font-weight: 700;
  margin: 0;
  margin-block-start: 10pt;
}

#resume section:hover > h2 span {
  cursor: grab;
  margin-right: 1vmin;
}

#resume section:hover > h2 span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f58e";
}

#resume h3 {
  font-size: 10pt !important;
  font-weight: 700;
  margin: 0;
}

#resume h4 {
  font-size: 10pt !important;
  margin: 0;
  font-weight: normal;
  color: #555;
}

#resume p {
  display: inline;
}

#resume p,
#resume li,
#resume code,
#resume ul,
#resume u,
#resume i {
  font-size: 10pt !important;
  margin: 0;
}

#resume code {
  font-family: monospace !important;
}

#resume span {
  font-size: 10pt !important;
}

#resume ul {
  margin: 0.25em;
}

#resume .two-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
