//-
  @Author: Parsa Rahimi <par5ul1>
  @Date:   2022-06-30T13:46:12-07:00
  @Filename: projects.pug
  @Last modified by:   par5ul1
  @Last modified time: 2022-06-30T22:33:32-07:00

mixin project(proj)
  div.evenly_spaced
    div
      h3 #{proj.name}
      h4 #{proj.description}
    h4
      em #{proj.date}
  ul
    each bullet in proj.bullets.length ? proj.bullets : ''
      li !{bullet}

if projects
  section#projects
    h2 Projects
    +line

    each proj in projects
      +project(proj)
