//-
  @Author: Parsa Rahimi <par5ul1>
  @Date:   2022-06-29T23:25:49-07:00
  @Filename: parsuli.pug
  @Last modified by:   par5ul1
  @Last modified time: 2022-06-30T23:13:46-07:00

-const accent_color = "#fed40a"

mixin line()
  div(style={height: "1px", background: accent_color, margin: "0.5em"})

mixin textSeparator()
  span(style = {color: accent_color}) &ensp;∎&ensp;

head
  title #{name.split(' ').join('')}_Resume
  style
    include ./style.css
  meta(charset='utf-8')

body
  include ./head.pug

  include ./skills.pug

  include ./projects.pug
      
  include ./experiences.pug

  include ./education.pug

  include ./interests.pug 
  
